.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  grid-gap: 2rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.container {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  padding: 5rem;
  border-radius: 2rem;
}
.modalItemInput {
  display: flex;
  align-items: center;
  grid-gap: 2.5rem;
  margin-bottom: 4rem;
  width: 100%;
}
.modalButton {
  width: 35rem;
  height: 8rem;
  border: none;
  background-color: #fdcc62;
  color: black;
  border-radius: 2rem;
  font-size: 2.5rem;
}
/* *Наполнение* */
.containerHead {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}
.containerHead h2 {
  font-size: 4rem;
  color: #fdcc62;
  margin-bottom: 3rem;
}

.column {
  width: 100%;
  grid-gap: 4rem;
  display: flex;
  flex-direction: column;
}
.modalInput {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 2px solid black;
  height: 4rem;
  font-size: 2rem;
  padding: 0 1rem;
}

/* .modalTextarea {
  width: 100%;
  border: 2px solid black;
  height: 12rem;
  border-radius: 15px;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
} */

.modalInput:hover,
.modalInput:focus,
.cityList:hover,
a.button:hover {
  border-bottom: 2px solid #fdcc62;
  transition: all 0.4s ease-in-out;
}
.modalInput:focus {
  outline: none;
}

.cityList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
  width: 25rem;
  border: none;
  border-bottom: 2px solid black;
  font-size: 2rem;
}
.cityList:focus {
  outline: none;
}

.dropidropi {
  margin-bottom: 3rem;
  width: 100%;
}
a.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  padding-left: 1rem;
  font-weight: 400;
  border: none;
  border-bottom: #000000 solid 2px;
  font-size: 2rem;
  cursor: pointer;
}
.dropdown summary {
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown ul {
  list-style: none;
  margin-top: 2rem;
  text-wrap: balance;
  width: 52rem;
}

.dropdown ul li {
  font-size: 1.8rem;
  margin: 2rem;
  text-align: left;
}

.dropdown ul li input {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}

@media (max-width: 1024px) {
  .modalItemInput {
    grid-gap: 2rem;
    margin-bottom: 3rem;
  }
  .column {
    grid-gap: 3rem;
  }
  .containerHead h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .modalInput {
    height: 3rem;
    font-size: 1.6rem;
    padding: 0 1rem;
  }
  .cityList {
    width: 18rem;
    font-size: 1.6rem;
  }
  .modalButton {
    width: 25rem;
    height: 6rem;
    font-size: 1.8rem;
  }
  .dropidropi {
    margin-bottom: 2rem;
  }
  a.button {
    padding: 0.8rem 0;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
  }

  .dropdown ul {
    margin-top: 2rem;
    width: 30rem;
  }

  .dropdown ul li {
    font-size: 1.2rem;
    margin: 1rem;
  }

  .dropdown ul li input {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
  }
}
@media (max-width: 766px) {
  .modalItemInput {
    grid-gap: 2rem;
    margin-bottom: 2.6rem;
  }
  .column {
    grid-gap: 2.6rem;
  }
  .containerHead h2 {
    font-size: 2.5rem;
  }
  .modalInput {
    font-size: 1.4rem;
  }
  .cityList {
    width: 16rem;
    font-size: 1.4rem;
  }
  .modalButton {
    width: 22rem;
    height: 5.8rem;
    font-size: 1.5rem;
  }

  .dropidropi {
    margin-bottom: 2.6rem;
  }
  a.button {
    padding: 0.5rem 0;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .dropdown ul {
    margin-top: 2rem;
    width: 20rem;
  }

  .dropdown ul li {
    font-size: 1.2rem;
    margin: 1rem;
  }

  .dropdown ul li input {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 2rem 1rem;
  }
  .modalItemInput {
    grid-gap: 1.6rem;
    margin-bottom: 3rem;
    width: 90%;
  }
  .column {
    grid-gap: 3rem;
  }
  .containerHead h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .modalInput {
    font-size: 1.2rem;
  }
  .cityList {
    width: 15rem;
    font-size: 1.2rem;
  }
  .modalButton {
    width: 22rem;
    height: 5.8rem;
    font-size: 1.5rem;
  }
  .dropidropi {
    margin-bottom: 2.6rem;
  }
  a.button {
    padding: 0.5rem 0;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .dropdown ul {
    margin-top: 2rem;
    width: 430px;
  }

  .dropdown ul li {
    font-size: 1.2rem;
    margin: 1rem;
  }

  .dropdown ul li input {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
  }
}
