.modalItemInput {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2.5rem;
  /* padding-bottom: 2rem; */
  margin-bottom: 4rem;
}
.modalButton {
  width: 25rem;
  height: 6rem;
  border: none;
  background-color: #fdcc62;
  color: black;
  border-radius: 2rem;
  font-size: 2rem;
}
.modalHeadButton {
  width: 25rem;
  height: 6rem;
  border: none;
  background-color: #fcde44;
  color: black;
  border-radius: 2rem;
  font-size: 2rem;
}
.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  grid-gap: 2rem;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerHead {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}
.containerHead h2 {
  font-size: 4rem;
  color: #fdcc62;
  margin-bottom: 3rem;
}
.containerHead p {
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(90deg, #ffffff 38.5%, #528cfb 100%);
  padding: 1rem;
  border-radius: 2.5rem;
}
.modalInput {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 2px solid black;
  height: 4rem;
  font-size: 2rem;
  padding: 0 1rem;
  /* margin-bottom: 3rem; */
}
.modalInput:hover,
.modalInput:focus,
.cityList:hover {
  border-bottom: 2px solid #fdcc62;
  transition: all 0.4s ease-in-out;
}
.modalInput:focus {
  outline: none;
}
.modalTextarea {
  width: 100%;
  border: 2px solid black;
  height: 12rem;
  border-radius: 15px;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}
.cityList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
  width: 25rem;
  border: none;
  border-bottom: 2px solid black;
  font-size: 2rem;
}
.cityList:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .modalItemInput {
    grid-gap: 2rem;
    margin-bottom: 3rem;
  }
  .modalItemInput:last-child {
    margin-bottom: 2rem;
  }
  .containerHead h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .modalInput {
    height: 3rem;
    font-size: 1.6rem;
    padding: 0 1rem;
  }
  .cityList {
    width: 18rem;
    font-size: 1.6rem;
  }
  .modalButton {
    width: 25rem;
    height: 6rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 766px) {
  .modalItemInput {
    grid-gap: 2rem;
    margin-bottom: 2.6rem;
  }
  .modalItemInput:last-child {
    margin-bottom: 1.5rem;
  }
  .containerHead h2 {
    font-size: 2.5rem;
  }
  .modalInput {
    font-size: 1.4rem;
  }
  .cityList {
    width: 16rem;
    font-size: 1.4rem;
  }
  .modalButton {
    width: 22rem;
    height: 5.8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .modalItemInput {
    grid-gap: 1.6rem;
    margin-bottom: 3rem;
  }
  .modalItemInput:last-child {
    margin-bottom: rem;
  }
  .containerHead h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .modalInput {
    font-size: 1.2rem;
  }
  .cityList {
    width: 15rem;
    font-size: 1.2rem;
  }
  .modalButton {
    width: 22rem;
    height: 5.8rem;
    font-size: 1.5rem;
  }
}
