/* OPTION */
.option {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.check {
  padding-left: 3rem;
}
.checkInput {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.checkBox {
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin-left: -3rem;
  background-image: url(public/off.svg);
  background-size: cover;
}
.checkInput:checked + .checkBox {
  background-image: url(public/on.svg);
}
